<form class="border-solid border flex flex-col md:flex-row justify-between md:rounded-full bg-white" (ngSubmit)="onSubmit()">
        <input  class="p-4 rounded-l-full border-r outline-none" 
            type="text" 
            name="depart" 
            id="depart"
            [(ngModel)]="depart"
            placeholder="Depart">
        <input class="p-4 border-r outline-none " 
            type="text" 
            name="arrivee" 
            id="arrivee" 
            [(ngModel)]="arrivee"
            placeholder="Arrivée">

        <input class="p-4 outline-none" 
            type="date" 
            name="date" 
            [(ngModel)]="dateString"
            id="date">
        <input class="bg-red-600 text-white p-4 md:rounded-r-full" type="submit" value="Rechercher"/>
</form>


