
<div class="flex flex-row justify-between bg-slate-200 h-20 items-center px-8">
    <div class="flex flex-row gap-4 text-gray-600">
        <a href="#" class="hover:text-black">Proposer</a>
        <a  href="#" class="hover:text-black">Rechercher</a>
    </div>


    <div>
        <img src="assets/covoiturace-logo.png" class="w-52 bg-slate-200 rounded-b-full p-4 mt-10">
    </div>

    <div class="flex flex-row gap-4 text-gray-600">
        <a href="#" class="hover:text-black">Login</a>
        <a  href="#" class="hover:text-black">Register</a>
    </div>

</div>