
<div class="flex flex-row justify-between bg-slate-200 h-20 items-center px-8">
    <div class="flex flex-row gap-4 text-gray-600">
        <a  routerLink="/proposer" routerLinkActive="active" *ngIf="connected | async" class="hover:text-black cursor-pointer">Proposer</a>
        <a  routerLink="/trajets" routerLinkActive="active" *ngIf="connected | async" class="hover:text-black cursor-pointer">Mes Trajets</a>
        <a  routerLink="" routerLinkActive="active" class="hover:text-black">Rechercher</a>
    </div>


    <div>
        <img src="assets/covoiturace-logo.png" class="w-52 bg-slate-200 rounded-b-full p-4 mt-10">
    </div>


    <div *ngIf="connected | async" class="flex flex-row gap-4 text-gray-600">
        <a routerLink="/profile" routerLinkActive="active" class="hover:text-black">Mon Profil</a>
        <a (click)="logoutClicked()" class="hover:text-black cursor-pointer">Déconnexion</a>
    </div>

    <div *ngIf="!(connected | async)" class="flex flex-row gap-4 text-gray-600">
        <a routerLink="/login" routerLinkActive="active" class="hover:text-black">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="hover:text-black">Register</a>
    </div>

</div>