    <div class="flex flex-col border rounded-lg p-4 w-80 gap-y-6 shadow-md">

        <div class="flex flex-row justify-between">
            <span>
                <div class="gap-x-2">
                   {{ trajetAvecConducteur.conducteur?.prenom }} 

                   <span *ngFor="let i of [].constructor(flamme); let index = index">
                    🔥
                   </span>

                </div>
                <p class="font-light text-sm italic">{{ trajetAvecConducteur.conducteur?.vitMoyenne }} km/h</p>
            </span>

            <span>
                <b>{{ trajetAvecConducteur.trajet.prix }} €</b>
            </span>
        </div>


        <div class="flex flex-row gap-x-6 justify-center">

            <p>{{ trajetAvecConducteur.trajet.villeDepart }}</p>


            <fa-icon [icon]="faArrowRight"></fa-icon>


            <p>{{ trajetAvecConducteur.trajet.villeArrive }}</p>

        </div>

        <div class="flex flex-row justify-between items-center">
            <p class="font-bold text-slate-600">
                {{ trajetAvecConducteur.trajet.heureDepart }}
            </p>

            <div class="{{ colorButton }} text-white p-2 rounded-lg">
                <app-button [text]="labelButton" (btnClick)="onClick()"></app-button>
            </div>
        </div>
    </div>